<h2>Tweet</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Id tweet:</strong>
  <%= @tweet.id_tweet %>
</p>

<p>
  <strong>Id texto:</strong>
  <%= @tweet.id_texto %>
</p>

<p>
  <strong>Id usuario:</strong>
  <%= @tweet.id_usuario %>
</p>

<p>
  <strong>Region:</strong>
  <%= @tweet.region %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @tweet.fecha %>
</p>

<p>
  <strong>Clasificacion:</strong>
  <%= @tweet.clasificacion %>
</p>
<p> <%= link_to 'Editar', edit_usuario_tweet_path(@usuario,@tweet) %> |
    <%= link_to 'Eliminar', usuario_tweet_path(@usuario,@tweet),:confirm => "¿Seguro desea eliminar este tweet?", :method => :delete%> |
    <%= link_to "Atras", usuario_path(@usuario) %>
</p>
<hr />
<ul style="list-style: none; padding: 0px;">
<h2>Actor-Tweets</h2>
   <% @actor_tweets.each do |actor_tweet| %>
   <li>

    <p>
      <strong>Id at:</strong>
      <%= actor_tweet.id_at %>
    </p>

    <p>
      <strong>Id actor:</strong>
      <%= actor_tweet.id_actor %>
    </p>

    <p>
      <strong>Id tweet:</strong>
      <%= actor_tweet.id_tweet %>
    </p>

    <%= link_to 'Ver', usuario_tweet_actor_tweet_path(@usuario , @tweet , actor_tweet) %> 
      
   </li>
 <% end %>
 </ul>

