<h1>Tabla Textos</h1>

<table>
  <thead>
    <tr>
      <th>Id tweet</th>
      <th>Id texto</th>
      <th>Texto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @textos.each do |texto| %>
      <tr>
        <td><%= texto.id_tweet %></td>
        <td><%= texto.id_texto %></td>
        <td><%= texto.texto %></td>
        <td><%= link_to 'Ver', texto %></td>
        <td><%= link_to 'Editar', edit_texto_path(texto) %></td>
        <td><%= link_to 'Eliminar', texto, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Texto', new_texto_path %>
