<p id="notice"><%= notice %></p>

<p>
  <strong>Id tweet:</strong>
  <%= @texto.id_tweet %>
</p>

<p>
  <strong>Id texto:</strong>
  <%= @texto.id_texto %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @texto.texto %>
</p>

<p> <%= link_to 'Editar', edit_usuario_tweet_texto_path(@usuario,@tweet,@texto) %> |
    <%= link_to 'Eliminar', usuario_tweet_texto_path(@usuario,@tweet,@texto),:confirm => "¿Seguro desea eliminar este tweet?", :method => :delete%> |
    <%= link_to "Atras", usuario_tweet_path(@usuario, @tweet) %>
</p>
<hr />
<h1>Tabla Texto Palabras</h1>

<table>
  <thead>
    <tr>
      <th>Id tp</th>
      <th>Id texto</th>
      <th>Id palabrab</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @texto_palabras.each do |texto_palabra| %>
      <tr>
        <td><%= texto_palabra.id_tp %></td>
        <td><%= texto_palabra.id_texto %></td>
        <td><%= texto_palabra.id_palabrab %></td>
        <td><%= link_to 'Ver', usuario_tweet_texto_texto_palabra_path(@usuario,@tweet,@texto,texto_palabra) %></td>
        <td><%= link_to 'Editar', edit_usuario_tweet_texto_texto_palabra_path(@usuario,@tweet,@texto,texto_palabra) %></td>
        <td><%= link_to 'Eliminar', usuario_tweet_texto_texto_palabra_path(@usuario,@tweet,@texto,texto_palabra), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
