<h1>Tabla Hashtag</h1>

<table>
  <thead>
    <tr>
      <th>Id hashtag</th>
      <th>Id actor</th>
      <th>Nombre hashtag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hashtags.each do |hashtag| %>
      <tr>
        <td><%= hashtag.id_hashtag %></td>
        <td><%= hashtag.id_actor %></td>
        <td><%= hashtag.nombre_hashtag %></td>
        <td><%= link_to 'Ver', hashtag %></td>
        <td><%= link_to 'Editar', edit_hashtag_path(hashtag) %></td>
        <td><%= link_to 'Eliminar', hashtag, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Hashtag', new_hashtag_path %>
