<h1>Listing palabra_bolsas</h1>

<table>
  <thead>
    <tr>
      <th>Id palabrab</th>
      <th>Nombre palabra</th>
      <th>Puntaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @palabra_bolsas.each do |palabra_bolsa| %>
      <tr>
        <td><%= palabra_bolsa.id_palabrab %></td>
        <td><%= palabra_bolsa.nombre_palabra %></td>
        <td><%= palabra_bolsa.puntaje %></td>
        <td><%= link_to 'Show', palabra_bolsa %></td>
        <td><%= link_to 'Edit', edit_palabra_bolsa_path(palabra_bolsa) %></td>
        <td><%= link_to 'Destroy', palabra_bolsa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Palabra bolsa', new_palabra_bolsa_path %>
