<%= form_for([@actor, @actor_tweet]) do |f| %>
  <% if @actor_tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actor_tweet.errors.count, "error") %> prohibited this actor_tweet from being saved:</h2>

      <ul>
      <% @actor_tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_at %><br>
    <%= f.number_field :id_at %>
  </div>
  <div class="field">
    <%= f.label :id_actor %><br>
    <%= f.number_field :id_actor %>
  </div>
  <div class="field">
    <%= f.label :id_tweet %><br>
    <%= f.number_field :id_tweet %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar"%> <%= link_to "Atras", @actor%>
  </div>
<% end %>
